# Alle Shell- und LaTeX-Dateien als Code erfassen
*.sh linguist-detectable=true
*.tex linguist-detectable=true

# PDF nur als Doku zählen, nicht als Hauptsprache
*.pdf linguist-documentation=true
